@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed&family=Nunito+Sans:wght@300&family=Roboto+Serif:ital,wght@1,300&display=swap');

body {
  margin: 0;
  font-family: 'Roboto Serif', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
i{
  cursor: pointer;
}
